<h1>New pationt</h1>

<%# render "form", pationt: @pationt %>

<%= form_for(@pationt) do |pationt_form| %>
  
  <p>
    <%= pationt_form.label :name, "Pationt Name" %>
    <%= pationt_form.text_field :name %>
  </p>
  <%= pationt_form.fields_for :physicians do |physician_form| %>
    <p>
      <%= physician_form.label :name, "Physician Name" %>
      <%= physician_form.text_field :name %>
    </p>
 <% end %>

  <p>
    <%= pationt_form.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', pationts_path %>
