<p style="color: green"><%= notice %></p>
<div class="col-lg-8">
  <div class="card shadow">
    <div class="card body">
      <%= image_tag @plant.image if @plant.image.attached? %>
      <%= render @plant %>
    </div>
  </div>   
  <div class="mt-5">
    <%= link_to "Edit this plant", edit_plant_path(@plant), class: "btn btn-warning" %> |
    <%= link_to "Back to plants", plants_path, class: "btn btn-outline-primary" %>

    <%= button_to "Destroy this plant", @plant, method: :delete, class: "btn btn-danger" %>
  </div>
</div>

