<strong>Title</strong>
<p><%= @post.title %></p>

<strong>Content</strong>
<p><%= @post.content %></p>


<p>Likes: <%= @post.likes_count %></p>

<%= link_to 'Like', post_likes_path(@post), method: :post %>
<%= link_to 'Unlike', post_like_path(@post, @post.likes.last), method: :delete %>
