<strong>Title</strong>
<p><%= @post.title %></p>

<strong>Content</strong>
<p><%= @post.content %></p>


<p>Likes: <%= @post.likes_count %></p>

<% if agent_signed_in? %>
  <% if current_agent.likes?(@post) %>
    <%= link_to 'Unlike', post_like_path(@post, @post.likes.find_by(agent: current_agent)), method: :delete %>
  <% else %>
    <%= link_to 'Like', post_likes_path(@post), method: :post %>
  <% end %>
<% end %>
